<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Cadena de conexion para la Base de Datos de NMT-->
    <add key="ConexionBD" value="Data Source=localhost;Integrated Security= True;" />
    <add key="NombreBD" value="NMT_MDZ" />
    <!--Cadena de conexion para la Base de Datos de iSMS-->
    <add key="ConexionSMS" value="Data Source=localhost;Initial Catalog=SMS;Integrated Security= True;" />
    <add key="NombreBDiSMS" value="SMS" />
    <!--Cadena de conexion para la Base de Datos de NMTWeb-->
    <!--<add key="ConexionBitacora" value="Data Source=BORANMTDBPRD3MX.app.pmi\PRD;Initial Catalog=MX_NMT;Integrated Security= True;" /> -->
    
    <!--<add key="ConexionBitacora" value="Data Source=BORANMTDBQA3MX.app.pmi\QAS; Initial Catalog=MX_NMT;Integrated Security= True;" />-->
    <add key="ConexionBitacora" value="Data Source=localhost;Initial Catalog=PruebaInst;Integrated Security= True;" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Datos proceso de actualizacion-->
    <add key="SegsTiempoComprobacionConexion" value="4" />
    <add key="CarpetaInstalacion" value="C:\Programs\NMT_MDZ\" />
    <add key="NombreProceso" value="IMC.Wpf.CoverFlow.NMT" />
    <add key="NombreProcesoActualizacion" value="NMTUpdater.exe" />

    
    <!--<add key="CarpetaCompartida" value="\\pmintl.net\appdata\PMI-ITSC-ADW-BORA-QAS\PMMX\NMT\WSZIPFILES\" />
    <add key="CarpetaCompartidaCatalogos" value="\\pmintl.net\appdata\PMI-ITSC-ADW-BORA-QAS\PMMX\NMT\WSMISCFILES\" />-->
    <add key="CarpetaCompartida" value="C:\Archivos\MDZ\KPI\" />
    <add key="CarpetaCompartidaCatalogos" value="C:\Archivos\MDZ\Catalogos\" />
    <add key="SegsTiempoReintento" value="20" />
    <add key="NumReintentos" value="3" />
    <add key="CarpetaTemporal" value="\NMTDATA" />
    <!--Mapeo de indicadores-->
    <add key="1" value="VisitasPlaneadas" />
    <!--<add key="2" value="VolumenPorGrupo" />
    <add key="3" value="PromedioMarcasFacturadas" />
    <add key="4" value="PorcentajeClientesPrecioCorrecto" />
    <add key="5" value="ClientesPorVisibilidad" />
    <add key="6" value="ConsultaPorCliente" />
    <add key="7" value="Clientes" />  
    <add key="8" value="Facturado" />-->
    
    <!--Mapeo de Skins-->
    <add key="Skin1" value="C:/_covers/skin100.jpg" />
    <add key="Skin2" value="C:/_covers/skin20.jpg" />
    <add key="Skin3" value="C:/_covers/skin30.jpg" />
    <add key="Skin4" value="C:/_covers/skin40.jpg" />
    <add key="noImage" value="C:/_covers/noimagen2.jpg" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>